*{
    box-sizing: border-box;
}

:root{
    --color-bg: #F5F5F5;
    --color-navbar: #0F0F0F;
    --color-primary: #FF3B1D;
    --color-text: #1A1A1A;
    --color-grayclaro: #D9D9D9;
    --color-grayoscuro: #555555;
}

html{
    scroll-behavior: smooth;
}
#Servicios,
#Marcas,
#Cerrajeria{
    scroll-margin-top: 170px;
}

#Contacto{
    scroll-margin-top: 100px;
}

body{
    background-color: var(--color-bg);
    margin: 0;
    font-weight: 300;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}

.nav{
    background-color: var(--color-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    border-bottom: 1px solid #FF2400;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-logo{
    font-size: 32px;
    letter-spacing: 0.04em;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-logospan{color: #FF2400;}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}

.nav-links-a{
    font-size: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
}

.nav-links-a:hover{color: #FF2400;}

.Contenido-principal{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.04em;
    padding-left: 80px;
    text-transform: uppercase;
    background:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("img/taller_motos.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
}

.h1-principal{
    font-size: 80px;
    color: whitesmoke;
    font-weight: bold;
    line-height: 1;
}

.h1-principalspan{color: var(--color-primary);}

.h2-principal{
    letter-spacing: 0.08em;
    margin-top: -50px;
}

.h3-principal{
    max-width: 600px;
    text-transform: lowercase;
}

.servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 80px;
    padding-top: 15px;
}

.card-servicio{ 
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    transition: 0.3s;
    min-height: 320px;
}

.card-servicio:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px 5px #ff3B1D;
    border-color: #FF3B1D;
}

.card-servicio h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #111111;
}

.card-servicio p{
    color: #555555;
    line-height: 1.5;
}

.tittle-servicios, .tittle-marcas, .tittle-cerrajeria, .tittle-other-services, .tittle-contact{
    font-size: 30px;
    letter-spacing: 0.08em;
    padding-left: 80px;
    padding-top: 50px;
    text-transform: uppercase;
}

.marcas{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 80px;
    padding-top: 15px;
}

.card-marcas{
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 120px;
    transition: 0.3s;
}

.card-marcas img{
    width: 100%;
    max-width: 130px;
    height: 70px;
    object-fit: contain;
}

.card-marcas:hover{
    transform: translateY(-5px);
    border-color: var(--color-primary);
    box-shadow: 1px 1px 8px rgba(255,59,29,.25);
}

.cerrajeria{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}

.contenedor-cerrajeria{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 80px;
    padding-top: 15px;
}

.card-cerrajeria{
    background-color: whitesmoke;
    padding: 20px;
    border: 1px solid #dcdcdc;
    transition: 0.3s;
    max-width: 100%;
}

.card-cerrajeria h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #111111;
}

.card-cerrajeria p{
    color: #555555;
    line-height: 1.5;
}

.card-cerrajeria:hover{border-color: #FF3B1D;}

.whatsapp-box{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 60px;
    background-color: gainsboro;
    padding: 30px;
    border: 1px solid #dcdcdc;
    transition: 0.3s;
}

.whatsapp-box h2{
    font-size: 28px;
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 0;
}

.whatsapp-box p{
    color: #555555;
    line-height: 1.5;
    margin-top: 0;
}

.btn-whatsapp{
    background-color: #FF2400;
    color: white;
    text-decoration: none;
    padding: 18px 30px;
    border-radius: 12px;
    width: fit-content;
    font-weight: bold;
    letter-spacing: 0.08em;
    transition: 0.3s;
}

.whatsapp-boxletter{color: var(--color-primary);}

.btn-whatsapp:hover{
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px #ff3B1D;
}

.contact{
    background-color: #ff3B1D;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.numlist-contact{
    font-size: 25px;
    letter-spacing: 0.08em;
    padding: 5px 0px 5px 80px;
    text-transform: uppercase;
    list-style: none;
}

.numlist-contact li{
    margin: 0px 0;
}

.numlist-contact a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.numlist-contact a:hover{
    color: whitesmoke;
}

.whatsapp-box-2{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    background-color: transparent;
    transition: 0.3s;
    padding: 10px 20px;
    padding-bottom: 50px;
}

.btn-whatsapp-2{
    background-color: black;
    color: #FF3B1D;
    text-decoration: none;
    padding: 14px 24px;
    border-radius: 12px;
    width: fit-content;
    font-weight: bold;
    letter-spacing: 0.08em;
    transition: 0.3s;
}

.btn-whatsapp-2:hover{color: whitesmoke;}

.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #FF3B1D;
    padding: 50px 40px;
}

.info-extra{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    padding: 5px 0px 5px 80px;
}

.info h3{
    color: #222222;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.info p{
    color: #111111;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: 18px;
}

.info a{
    text-decoration: none;
    color: #111111;
}

.info a:hover{color: whitesmoke;}

.footer-container{
    background-color: var(--color-navbar);
    padding: 25px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer h4{
    color: whitesmoke;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 0;
    font-size: 14px;
}

.other-services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px;
    padding-top: 15px;
    gap: 25px;
}

.card-other-servicio{
    background-color: whitesmoke;
    padding: 10px 30px;
    border: 1px solid #dcdcdc;
    transition: 0.3s;
}

.list-otherservices{
    list-style-type: none;
    padding-left: 0;
}

.card-other-servicio:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px 5px #ff3B1D;
    border-color: #FF3B1D;
}

@media (max-width: 768px){
    .nav{
        flex-direction: column;
        padding: 15px 20px;
    }
    .nav-logo{
        font-size: 24px;
    }
    .nav-links{
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 10px;
    }
    .nav-links-a{
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .Contenido-principal{
        min-height: 60vh;
        padding: 30px;
        text-align: center;
        align-items: center;
    }
    .h1-principal{
        font-size: 42px;
    }
    .h2-principal{
        font-size: 22px;
        margin-top: -10px;
    }
    .h3-principal{
        font-size: 15px;
        max-width: 90%;
    }
}

@media (max-width: 768px){
    .servicios{
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 15px;
    }
    .card-servicio{
        padding: 20px;
    }
    .card-servicio h3{
        font-size: 20px;
    }
    .card-servicio p{
        font-size: 15px;
    }
}

@media (max-width: 768px){
    .marcas{
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}

@media (max-width: 768px){
    .contenedor-cerrajeria{
        flex-direction: column;
        padding: 20px;
    }
}

@media (max-width:768px){
    .tittle-contact{
padding-left: 0;
}
.contact-container{
flex-direction: column;
align-items: stretch;
padding: 30px 25px;
gap: 15px;
}
.whatsapp-box-2{
margin-left: 0;
padding-left: 0;
}
.info-extra{
padding: 0;
max-width: 100%;
}

.numlist-contact{
padding: 0;
margin-left: 0;
font-size: 22px;
}

.btn-whatsapp-2{
width: 100%;
text-align: center;
}

}

@media (max-width: 768px){
    .other-services{
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 15px;
    }
    .card-other-servicio{
        padding: 20px;
    }
    .card-other-servicio h3{
        font-size: 20px;
    }
    .card-other-servicio li{
        font-size: 15px;
    }
}